/* Inputs */
.uiInput--input .input, .uiInput--input.input {
    background-color: rgb(255, 255, 255);
    color: rgb(8, 7, 7);
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(2.125rem + 2px);
}

/* Dates and Datetimes */
.uiInput--datetime .datePicker-openIcon {
    background: url(/projRes/ui-global-components/img/event.svg) no-repeat !important;
    position: absolute !important;
    left: auto !important;
    width: 15px !important;
    height: 15px !important;
    right: .75rem !important;
    bottom: 7px !important;
}
.uiInput--datetime .timePicker-openIcon {
    background: url(/projRes/ui-global-components/img/clock.svg) no-repeat !important;
    position: absolute !important;
    left: auto !important;
    width: 15px !important;
    height: 15px !important;
    right: .75rem !important;
    bottom: 7px !important;
}
.uiInput--datetime .form-element {
    position: relative;
}
.slds-datepicker {
    padding: 0;
    font-size: .75rem;
}
.uiDatePicker--default {
    margin-top: .25rem;
    padding: 0;
    font-size: .75rem;
    display: none;
    font-weight: 400;
}
.uiDatePickerGrid--default th {
    text-transform: lowercase;
}
.uiDatePickerGrid--default th:first-letter {
    text-transform: uppercase;
}
.slds-datepicker th {
    padding: .5rem;
    font-weight: 400;
    color: rgb(62, 62, 60);
}
.slds-datepicker th, .slds-datepicker td {
    text-align: center;
}
.slds-datepicker td {
    padding: .25rem;
    text-align: center;
    font-size: .75rem;
}
.slds-datepicker th, .slds-datepicker td {
    text-align: center;
}
.slds-disabled-text {
    color: rgb(221, 219, 218);
}
.uiDatePicker--default .picklist__label {
    font-size: .75rem;
    font-weight: 400;
}
.uiDatePicker--default.slds-select, .uiDatePicker--default .slds-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 30px 0 14px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd安9IiM1NTY5OEQiIHdpZHRoPSIyNy42IiBoZWlnaHQ9IjIxIi8+DQogIDwvZz4NCjwvc3ZnPg0K);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd安9IiM1NTY5OEQiIHdpZHRoPSIyNy42IiBoZWlnaHQ9IjIxIi8+DQogIDwvZz4NCjwvc3ZnPg0K),rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: .8125rem .8125rem,100% 100%;
}
.uiDatePicker--default.slds-select, .uiDatePicker--default .slds-select {
    font-family: 'Salesforce Sans',Arial,sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(8, 7, 7);
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    height: 1.875rem;
}
.slds-shrink-none {
    flex-shrink: 0;
}
.uiDatePicker--default .datepicker__filter--month {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}
.uiDatePicker--default .datepicker__filter--month .monthYear {
    line-height: 16px;
    font-size: .75rem;
    text-transform: uppercase;
    padding-left: 12px;
}
.uiDatePicker--default .dateBar .nextLinks {
    float: right;
    text-align: right;
    margin-right: .75rem;
    order: 3;
}
.uiDatePicker--default .dateBar .prevLinks {
    float: left;
    text-align: left;
    margin-left: .75rem;
}
.slds-align-middle {
    vertical-align: middle;
    align-self: center;
}
.slds-datepicker td>.slds-day {
    width: 2rem;
    height: 2rem;
    display: block;
    position: relative;
    min-width: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    margin: auto;
}
.uiDatePickerGrid--default td .today {
    cursor: pointer;
}
.calGrid {
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

/* Checkboxes */
.slds-form-element .slds-checkbox [type=checkbox]+.slds-checkbox_faux, .slds-form-element .slds-checkbox [type=checkbox]+.slds-checkbox--faux, .slds-form-element .slds-checkbox [type=checkbox]~.slds-checkbox_faux, .slds-form-element .slds-checkbox [type=checkbox]~.slds-checkbox--faux, .slds-form-element .slds-checkbox [type=checkbox]+.slds-checkbox__label .slds-checkbox_faux, .slds-form-element .slds-checkbox [type=checkbox]+.slds-checkbox__label .slds-checkbox--faux {
    margin-right: .5rem;
}
.slds-checkbox .slds-checkbox_faux, .slds-checkbox .slds-checkbox--faux {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border: 1px solid rgb(221, 219, 218);
    border-radius: .125rem;
    background: rgb(255, 255, 255);
    transition: border .1s linear,background-color .1s linear;
}

/* Labels and legends */
.slds-form-element__legend {
    font-weight: 700;
    float: left;
}
.slds-form-element__label {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: inline-block;
    color: rgb(62, 62, 60);
    font-size: .75rem;
    padding-right: .5rem;
    padding-top: .25rem;
    margin-bottom: .125rem;
}
.slds-form-element__control {
    clear: left;
    position: relative;
}

/* Picklists and MSPLs */
.uiInput--select.select:not([multiple]), .uiInput--select .select:not([multiple]), .uiInput--select .uiPopupTrigger a {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 14px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd安9IiM1NTY5OEQiIHdpZHRoPSIyNy42IiBoZWlnaHQ9IjIxIi8+DQogIDwvZz4NCjwvc3ZnPg0K);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd安9IiM1NTY5OEQiIHdpZHRoPSIyNy42IiBoZWlnaHQ9IjIxIi8+DQogIDwvZz4NCjwvc3ZnPg0K),rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: 97.5% 50%;
    background-size: .8125rem .8125rem,100% 100%;
}
.uiInput--select.select:not([multiple]), .uiInput--select .select:not([multiple]), .uiInput--select .uiPopupTrigger a {
    height: 1.875rem;
    line-height: 1.875rem;
}
.uiInput--select.select, .uiInput--select .select, .uiInput--select .uiPopupTrigger a {
    background-color: rgb(255, 255, 255);
    color: rgb(8, 7, 7);
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
}

/* Buttons */
.slds-button_brand:hover, .slds-button_brand:focus, .slds-button--brand:hover, .slds-button--brand:focus {
    background-color: rgba(0, 68, 135, 1);
    border-color: rgba(0, 68, 135, 1);
    background: rgb(0, 95, 178) !important;
    color: rgb(255, 255, 255);
}
.slds-button_neutral, .slds-button--neutral {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(221, 219, 218) !important;
    box-shadow: none !important;
    transition: border .15s linear;
    border-color: rgb(221, 219, 218);
    background-color: rgb(255, 255, 255);
    background: rgb(255, 255, 255) !important;
}
.slds-button {
    position: relative;
    display: inline-block;
    padding: 0;
    background: transparent;
    background-clip: border-box;
    border: 1px solid transparent;
    border-radius: .25rem;
    line-height: 1.875rem;
    text-decoration: none;
    color: rgba(27, 82, 151, 1);
    -webkit-appearance: none;
    white-space: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.slds-button:hover, .slds-button:focus {
    color: rgba(0, 68, 135, 1);
}
.slds-button:hover, .slds-button:focus, .slds-button:active, .slds-button:visited {
    text-decoration: none;
}
button.slds-button_brand > span.label, button.slds-button--brand > span.label{
    color: rgb(255, 255, 255) !important;
}
button.slds-button_neutral > span.label, button.slds-button--neutral > span.label{
        color: rgb(0, 112, 210) !important;
}
.slds-button_brand, .slds-button--brand {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgb(221, 219, 218) !important;
    transition: border .15s linear;
    background-color: rgba(27, 82, 151, 1);
    border-color: rgba(27, 82, 151, 1);
    box-shadow: none !important;
    color: rgb(255, 255, 255) !important;
    text-shadow: none !important;
}
.slds-button {
    position: relative;
    display: inline-block;
    padding: 0;
    background: transparent;
    background-clip: border-box;
    border: 1px solid transparent;
    border-radius: .25rem;
    line-height: 1.875rem;
    text-decoration: none;
    color: rgba(27, 82, 151, 1);
    -webkit-appearance: none;
    white-space: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* General */
.slds-show_inline-block, .slds-show--inline-block {
    display: inline-block;
}
.slds-text-link {
    color: rgb(0, 109, 204);
    text-decoration: none;
    transition: color .1s linear;
}
.slds-p-bottom_x-small, .slds-p-bottom--x-small {
    padding-bottom: .5rem;
}
::selection{
    background:rgb(216, 237, 255);
    text-shadow:none;
    color:rgb(8, 7, 7)
}